<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>

    <a href="/users/add"><button>Add</button></a>

    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>First Name:</th>
                <th>Last Name:</th>
                <th>Email:</th>
                <th>Actions:</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            {% if user.first_name != "" %}
            <tr>
                <td>{{ user.id }}</td>


                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/users/{{ user.id }}"><button>Show</button></a>

                    <a href="/users/{{ user.id }}/edit"><button>Edit</button></a>
                    <form action="/users/{{ user.id }}/delete" method="post">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
